
*.pyc
build/bitbake.lock
build/cache/*
build/conf/sanity_info
build/tmp/*
poky/bitbake/lib/bb/pysh/pyshtables.py

*.dot
build/pn-buildlist
*.png
*.jpg

*.o
*.d
*.cmd
arduino/clloader/clloader
arduino/clloader/sketch_reset
broadcom_cws/wlan/driver_bcm43x/.tmp_versions/
broadcom_cws/wlan/driver_bcm43x/Module.symvers
broadcom_cws/wlan/driver_bcm43x/bcm4334x.ko
broadcom_cws/wlan/driver_bcm43x/bcm4334x.mod.c
broadcom_cws/wlan/driver_bcm43x/modules.order
mw/oobe/node_modules/

build/symbols/
build/toFlash/
*flash.log

